Repository faebryk/faebryk, pull requests merged in 2022-06, with the labels that each got.

#90 Add: Capacitor to component library
  faebryk/library/library/components.py
Labels: ⭐ goal: addition, 🟩 priority: low, 🗂 area: library

#91 Library: Add Ranged parameter
  faebryk/library/library/parameters.py
Labels: ⭐ goal: addition, 🟩 priority: low, 🗂 area: library

#93 Readme: Add 5Ws about faebryk
  README.md
Labels: 📄 area: documentation, ✨ goal: improvement, 🟨 priority: medium

#94 Graph: Handle pin not in map explicitly
  faebryk/exporters/netlist/graph.py
Labels: ✨ goal: improvement, 🟩 priority: low, 💻 area: core

#97 Core: Interface rework
  faebryk/exporters/netlist/graph.py
  faebryk/library/core.py
  faebryk/library/library/components.py
  faebryk/library/library/interfaces.py
  faebryk/library/traits/component.py
  faebryk/library/traits/interface.py
  faebryk/library/util.py
  samples/iterative_design_nand.py
  samples/resistors_and_nand.py
  test/exporters/netlist/kicad/test_netlist_kicad.py
Labels: ✨ goal: improvement, 🟧 priority: high, 💻 area: core
