Repository faebryk/faebryk, pull requests merged in 2022-07, with the labels that each got.

#100 Readme: Add phonetic pronunciation
  README.md
Labels: 📄 area: documentation, ✨ goal: improvement, 🟩 priority: low

#103 Bugfix: Fix connect_all
  faebryk/library/core.py
Labels: 🛠 goal: bug fix, 🟧 priority: high, 💻 area: core

#102 Core: Differentiate traits and trait implementations
  faebryk/library/__init__.py
  faebryk/library/core.py
  faebryk/library/kicad.py
  faebryk/library/library/components.py
  faebryk/library/library/footprints.py
  faebryk/library/library/interfaces.py
  faebryk/library/library/parameters.py
  faebryk/library/trait_impl/__init__.py
  faebryk/library/trait_impl/component.py
  faebryk/library/trait_impl/footprint.py
  faebryk/library/trait_impl/interface.py
  faebryk/library/trait_impl/link.py
  faebryk/library/trait_impl/parameter.py
  faebryk/library/traits/component.py
  faebryk/library/traits/parameter.py
  samples/iterative_design_nand.py
  samples/resistors_and_nand.py
  test/exporters/netlist/kicad/test_netlist_kicad.py
  test/library/test_core.py
Labels: ✨ goal: improvement, 🟧 priority: high, 💻 area: core

#105 Netlist: Add export graph to png functionality
  faebryk/exporters/netlist/netlist.py
Labels: ✨ goal: improvement, 🟩 priority: low, 📤 area: exporter
