Repository faebryk/faebryk, pull requests merged in 2024-08, with the labels that each got.

#244 Exporters: Parameters to file exporter
  src/faebryk/exporters/parameters/parameters_to_file.py
Labels: ⭐ goal: addition, 🟩 priority: low, 📤 area: exporter

#247 Lib: ElectricLogic: add PushPull
  src/faebryk/library/ElectricLogic.py
Labels: 🛠 goal: bug fix, 🟨 priority: medium, 🗂 area: library

#243 Libs:KiCad: Extend fileformat
  src/faebryk/exporters/pcb/kicad/transformer.py
  src/faebryk/exporters/pcb/routing/routing.py
  src/faebryk/libs/kicad/fileformats.py
  src/faebryk/libs/sexp/dataclass_sexp.py
  test/common/resources/test.kicad_pcb
Labels: 🛠 goal: bug fix, ✨ goal: improvement, 🟧 priority: high, 📤 area: exporter, 📥 area: importer

#188 Lib: Add JLCPCB Supplier/part picker
  poetry.lock
  pyproject.toml
  src/faebryk/core/core.py
  src/faebryk/library/BJT.py
  src/faebryk/library/Comparator.py
  src/faebryk/library/Constant.py
  src/faebryk/library/Diode.py
  src/faebryk/library/Inductor.py
  src/faebryk/library/LDO.py
  src/faebryk/library/LED.py
  src/faebryk/library/MOSFET.py
  src/faebryk/library/OpAmp.py
  src/faebryk/library/Operation.py
  src/faebryk/library/PoweredLED.py
  src/faebryk/library/Range.py
  src/faebryk/library/Resistor.py
  src/faebryk/library/_F.py
  src/faebryk/library/has_footprint_requirement.py
  src/faebryk/library/has_footprint_requirement_defined.py
  src/faebryk/library/has_multi_picker.py
  src/faebryk/library/has_picker.py
  src/faebryk/library/has_pin_association_heuristic.py
  src/faebryk/library/has_pin_association_heuristic_lookup_table.py
  src/faebryk/libs/app/erc.py
  src/faebryk/libs/e_series.py
  src/faebryk/libs/examples/buildutil.py
  src/faebryk/libs/examples/pickers.py
  src/faebryk/libs/picker/jlcpcb/jlcpcb.py
  src/faebryk/libs/picker/jlcpcb/picker_lib.py
  src/faebryk/libs/picker/jlcpcb/pickers.py
  src/faebryk/libs/picker/lcsc.py
  src/faebryk/libs/picker/picker.py
  src/faebryk/libs/units.py
  src/faebryk/libs/util.py
  test/core/test_parameters.py
  test/libs/picker/test_jlcpcb.py
  test/libs/util_atexit.py
Labels: ⭐ goal: addition, 🟧 priority: high, 🗂 area: library

#259 Add allow missing courtyard
  src/faebryk/libs/kicad/fileformats.py
Labels: 🛠 goal: bug fix

#260 Fix: libs: picker: import order
  src/faebryk/libs/picker/picker.py
Labels: 🛠 goal: bug fix, 🟥 priority: critical

#257 Bugfix: exporters: pcb layout matrix distribution
  src/faebryk/exporters/pcb/layout/extrude.py
  src/faebryk/exporters/pcb/layout/matrix.py
Labels: 🛠 goal: bug fix, ✨ goal: improvement, 🟨 priority: medium, 📤 area: exporter

#256 Bugfix: missing kicad fileformat items
  src/faebryk/exporters/pcb/kicad/transformer.py
  src/faebryk/libs/kicad/fileformats.py
  src/faebryk/libs/sexp/dataclass_sexp.py
  test/common/resources/test.kicad_pcb
Labels: 🛠 goal: bug fix, 🟧 priority: high
