Repository faebryk/faebryk, pull requests merged in 2024-07, with the labels that each got.

#192 Exporters:PCB: PCBA artifacts
  poetry.lock
  pyproject.toml
  src/faebryk/exporters/pcb/kicad/artifacts.py
  src/faebryk/exporters/pcb/pick_and_place/jlcpcb.py
Labels: ⭐ goal: addition, 📤 area: exporter

#226 Lib: Add Comparator and OpAmp
  src/faebryk/library/Comparator.py
  src/faebryk/library/OpAmp.py
  src/faebryk/library/_F.py
Labels: ⭐ goal: addition, 🟩 priority: low, 🗂 area: library

#235 PCB: Layout: Add matrix layout
  src/faebryk/exporters/pcb/layout/matrix.py
Labels: ⭐ goal: addition, 🟩 priority: low, 📤 area: exporter
